<div style="text-align: center; padding: 100px;">
<h2>Employees</h2>
<p>Current Employees</p>
  <ul style="list-style-type: none">
    <li style="text-decoration: none">Dave</li>
  </ul>
<a href="users/register"><p>Add New Employee</p></a>
</div>
