<div style="text-align: center; padding: 50px;">
  <h2 style="text-align: center">CRUD APP</h2>
  <p style="text-align: center"> You are logged in as: <br> {{user.username}} <br> {{user.email}} </p>
  <a href="/employees"><p style="text-align: center">Employee List</p></a>
  <a href="/users/logout"><button style="margin: auto">Logout</button></a>
</div>
