<h2 style="text-align: center">Account Login</h2>
<form method="post" action="/users/login" style="text-align: center">
  <div>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button type="submit">Submit</button>
</form>

<a href="/"><button>Home</button></a>
